body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* ------------------------- */
/* LEYENDA PLUSVALÍA        */
/* ------------------------- */
.legend-plus {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(0,0,0,0.75);
    padding: 15px;
    border-radius: 8px;
    width: 180px;
    color: #fff;
    font-size: 14px;
    z-index: 10;
}

.legend-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.item span {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-right: 10px;
}

/* COLORES EXACTOS DE LA CAPA */
.c_muyalta { background-color: #d73027; }
.c_alta    { background-color: #f46d43; }
.c_media   { background-color: #fdae61; }
.c_baja    { background-color: #66c2a5; }
.c_muybaja { background-color: #3288bd; }

/* POPUP */
.custom-popup .mapboxgl-popup-content {
    font-size: 0.8rem;
    padding: 10px;
    background-color: rgba(0,0,0,0.85);
    color: white;
    border-radius: 8px;
}
